@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    </head>

    <body>
        <div>
            <div>
                We are going to have an exciting party. <br />
                (To do: sell it better. Add pictures and something.)
            </div>

            <a asp-action="RsvpForm">RSVP Now</a> <!-- " " is the name of the .cshtml file that the button will redirect to-->
        </div>
    </body>
</html>